root { 
    display: block;
}

/* fonts **********************************************************************/
.fontMaroon {
   color: maroon;
}
.fontMaroonBold {
   color: maroon;
   font-weight:bold;
}
.fontPurpleBold {
   color: purple;
   font-weight:bold;    
}
.fontPurple {
   color: purple;
}
.fontSmaller {
    font-size:smaller;
}

/* color **********************************************************************/
.backgroundColorLemonchiffon{
    background-color: lemonchiffon;
}

/* headers ********************************************************************/
h1 {
    font-style:normal;
    font-size:1.5em;
    color: maroon;
    text-align: center;
}
h2 {
    margin: 1em 0;
    border-bottom: .05em solid maroon;  
    padding: .25em 0;
    font-style:normal;
    font-size:1.25em;
    color: maroon;
}

/* sections *******************************************************************/
.clearBoth {
    position:relative; 
    clear:both; 
    width:100%;
}

.clearCenterPadding {
    position:relative; 
    clear:both; 
    width:100%;
    margin: 1.5em 0;
    text-align: center;
}

.floatLeft {
    float:left;
    width:49%;    text-align: left;
}

.floatRight {
    float:right;
    width:49%;
    text-align: right;
}

.effortSelection {
    margin: 1em 0;
    border: .2em solid purple;
    -moz-border-radius:1em; 
    -webkit-border-radius:1em;        
    padding: 1.5em 0;
    background-color: papayawhip;
    color:purple;
    text-align: center;
    font-size: smaller;
}

.nowrap {
    white-space:nowrap; 
}

.topAlign{
    vertical-align:top;
}

.breadcrumbs {
    margin-top:1em;
    margin-bottom:1.5em;
    border-top:.1em solid silver;
    border-bottom: .1em solid silver;
    padding-top:.25em;
    padding-bottom:.25em;
    color:gray;
    font-size:.75em;
    font-style:normal;
}

dl {
    width:80%;
    margin-bottom: 18em;
}

dt.basicMenu {
    float: left;
    width: 80%;
    margin: .5em 0;
    border: .1em solid silver; 
    -moz-border-radius:1em; 
    -webkit-border-radius:1em;    
    padding: .5em 1em;
    background-color: lemonchiffon;
    color:gray;
}
dt.basicMenu:hover {
    border: .1em solid silver; 
    background-color: lavender;
    color:gray;
}
dt.basicMenu:active {
    font-size: larger;
}

div.pageSpacing{
    margin-bottom: 2em;
}

div.spacing{
    margin: 1em 0;
}
div.prop {
        display: inline-block;
        margin: .5em 0;
}

.messageBoxPowderblue{
    border:.1em solid silver;
    /*
    -moz-border-radius: 0.1em; 
    -webkit-border-radius: 0.1em;
    */
    padding: .25em 1em;
    background-color: lightcyan;
    color: black;
    text-align: center;
}

.messageBoxOrange{
    border: .1em solid silver;
    /*
    -moz-border-radius: 0.25em; 
    -webkit-border-radius: 0.25em;
    */
    padding: .25em 1em;
    background-color: orange;
    color: white;
}

.messageBoxRed{
    border: .1em solid silver;
    /*
    -moz-border-radius: 0.25em; 
    -webkit-border-radius: 0.25em;
    */
    padding: .25em 1em;
    background-color: red;
    color: white;
}

.messageBoxGreen{
    border: .1em solid silver;
    /*
    -moz-border-radius:0.25em; 
    -webkit-border-radius:0.25em;
    */
    padding: .25em 1em;
    background-color: green;
    color: white;
}



/* tables *********************************************************************/
th.basic{
    background-image:none;
    border:1px solid silver;
    padding:.5em;
    background-color: lavender;
    color:black;
    text-align: center;
    font-size:small;
}

td.basic{
    background-image:none;
    border:1px solid silver;
    padding:.5em;
    font-size:small;
}

.tableFooterNote{
    padding-bottom:1em;
    color:black;
    font-size:smaller;
}

/* controls *******************************************************************/

.legendBlack {
        color:black;
        font-size:1.25em;
        font-weight:bold;
}

.legendMaroon {
        color:maroon;
        font-size:1.25em;
        font-weight:bold;
}

.roundRectMaroon {
        margin-bottom:1em;
        border:maroon solid thin; -moz-border-radius:0.5em; -webkit-border-radius:0.5em;
        padding: 0em 1em 1em 1em;
        line-height:2;
}

.roundRectSilver {
        margin-bottom:1.5em;
        border:silver solid thin; 
        -moz-border-radius:0.5em; 
        -webkit-border-radius:0.5em;
        padding: .5em .25em;
        line-height:2;
}

.controlBackground {
    border:.05em grey solid;
    padding:.5em;
    background-color: lightgray;
}

.textfieldBasic{
    border:.01em solid gray;
    padding:.15em .15em;
}

.textfieldBasicRed{
    border:.01em solid gray;
    padding:.15em .15em;
    background-color: firebrick;
    color:white;
    font-weight:bold;
}

select.basic{
    border:.1em solid gray;
    padding:.2em;
    background-color: white;
    color:black; 
}

.buttonBasic:hover {
    border:.15em outset purple;
    -moz-border-radius: 1em; 
    -webkit-border-radius: 1em;
    padding:.2em 1em;
    background-color: papayawhip;    
    color:purple;
}

.buttonBasic {
    border:.15em outset papayawhip;
    -moz-border-radius: 1em; 
    -webkit-border-radius: 1em;
    padding:.2em 1em;
    background-color: purple;    
    color:papayawhip;
}

button {
    font-size: 1.0em;
}
