/* 
    Document   : custom
    Created on : Apr 15, 2011, 8:50:20 AM
    Author     : sqv
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

/* sections *******************************************************************/
.breadcrumbs {
    margin-top:1em;
    margin-bottom:1.5em;
    border-top:.1em solid silver;
    border-bottom: .1em solid silver;
    padding-top:.25em;
    padding-bottom:.25em;
    color:gray;
    font-size:.75em;
    font-style:normal;
}

dl {
    width:100%
    margin-bottom:1em;
}

dt {
    width: 20%;
    float: left;
    padding-top:.5em;
    padding-bottom:.5em;
    padding-right:.5em;
    background-color: orchid
}

dd {
    width: 79%;
    float:left;
    padding:.5em 0;
    background-color:orange;
}

div.pageSpacing{
    margin-bottom:1.5em;
}

div.padding{
    margin: 1em 0;
}
div.prop {
        display: inline-block;
        margin: .5em 0;
}

/* fonts **********************************************************************/
.fontMaroon{
   color: maroon;
}
.fontMaroonBold{
   color: maroon;
   font-weight:bold;
}

/* headers ********************************************************************/
h1 {
    font-style:normal;
    font-size:1.5em;
    color: maroon;
    text-align: center;
}
h2 {
    font-style:normal;
    font-size:1.25em;
    color: maroon;
}

/* tables *********************************************************************/
th.basic{
    background-image:none;
    border:1px solid gray;
    padding:.5em;
    background-color: lightblue;
    color:black;
    text-align: center;
    font-size:small;
}

td.basic{
    background-image:none;
    border:1px solid gray;
    padding:.5em;
    font-size:small;
}

.tableFooterNote{
    padding-bottom:1em;
    color:black;
    font-size:smaller;
}

/* controls *******************************************************************/

fieldset legend {
        color:#8C1919;
        font-size:1.25em;
        font-weight:bold;
}
.maroonRoundRect {
        margin-bottom:1em;
        border:silver solid thin; -moz-border-radius:0.5em; -webkit-border-radius:0.5em;
        padding: 0em 1em 1em 1em;
        line-height:2;
}

.controlBackground {
    border:.05em grey solid;
    background-color: silver;
    padding:.5em;
}

.textfieldBasic{
    border:.01em solid gray;
}

select.basic{
    border:.01em solid gray;
    padding:.2em;
    background-color: white;
    color:navy;
    
}

.buttonBasic{
    border:.2em outset gray;
    padding:.1em;
    background-color: lemonchiffon;
}

